* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* --------------------------------------------- dark and light mood --------------------------------------------------  */
body.dark {
  background: #121212;
  color: #fff;
}

body.light {
  background: #f5f5f5;
  color: #000;
}

/* --------------------------------------------- nav bar --------------------------------------------------  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: #1f1f1f;
}

body.light .navbar {
  background: #e6e2e2;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo span {
  color: #4cc9f0;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.search-input {
  width: 380px;
  padding: 8px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  margin: 0 100px;
}
body.dark .search-input{
    background-color: #ffffff;
    color: #000000;
}
body.dark .search-input::placeholder{
    color: #777;
}
body.light .search-input{
    background-color: #ffffff;
    color: #ffffff;
    border: 2px solid #e0e0e0;
}
body.light .search-input::placeholder{
  color:  #ccc;
}
.nav-icons i {
  cursor: pointer;
  position: relative;
}

#cartCount {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
}
/* MOON ICON */
body.dark #toggleTheme {
  color: #ffffff;
}

body.light #toggleTheme {
  color: #000000;
}

body.dark #toggleTheme:hover,
body.light #toggleTheme:hover {
  color: #3fbac2;
}


/* ----------------------info for  product -----------------------------  */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
}

/* ---------------------- card -----------------------------  */
.card {
    display: flex;
    flex-direction: column;
  background: #1e1e1e;
  border-radius: 15px;
  padding: 15px;
  transition: 0.3s;
  height: 100%;
}

body.light .card {
  background: #ffffff;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.category {
  font-size: 12px;
  opacity: 0.7;
  margin: 10px 0 5px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;

}

.desc {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 15px;
  flex-grow: 1;
}

.rating {
  color: gold;
  font-size: 12px;
  margin-bottom: 6px;
}

.price {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: bold;
}

/* ------------------------- Buttun -------------------------  */
.card-actions {
    
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-btn {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #4cc9f0;
  background: transparent;
  color: #4cc9f0;
  cursor: pointer;
}

.add-btn:hover {
  background: #4cc9f0;
  color: #000;
}

.fav-btn {
  width: 40px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #555;
  background: transparent;
  cursor: pointer;
  color: inherit;
}

/* ------------------------------------- cover -------------------------------   */
.hero {
  text-align: center;
  padding: 40px 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.site-title {
  font-size: 42px;
  font-weight: 800;
  position: relative;
  display: inline-block;
}

.site-title span {
  color: #4da3ff;
}

body.dark .site-title {
  color: #ffffff;
}

body.light .site-title {
  color: #111111;
}

.site-title::after {
  content: "";
  display: block;
  width: 60%;
  height: 3px;
  background-color: #4da3ff;
  margin: 8px auto 0;
  border-radius: 2px;
  margin-bottom: 30px;
}


.site-subtitle {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.site-subtitle .text {
  color: #4da3ff; 
  font-weight: 500;
}

.site-subtitle .dot {
  color: #ffffff;  
  margin: 0 8px;
  font-weight: bold;
}
body.light .site-subtitle .dot{
  color: #000;
}
.banner {
  width: 100vw;
 margin-left: calc(-50vw + 50%);
 overflow: hidden;
}

.banner img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  border-radius: 0px;
  box-shadow: none ;
}
/* ---------------------------------- filter -------------------------------------------------  */
.filters-bar {
  width: 100%;
  padding: 20px 0;
  background-color: var(--bg-color);
  
}

.filters-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  padding-left: 40px;
  margin-left: 0px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.filter-group label {
  font-size: 14px;
  opacity: 0.8;
}

.filter-group select {
  min-width: 200px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.15);
  background-color: transparent;
  color: var(--text-color);
  outline: none;
  cursor: pointer;
}

/* Light mode */
body.light .filters-bar {
  border-bottom: 1px solid #ddd;
}

body.light .filter-group select {
  border: 1px solid #ccc;
  color: #111;
}

body.dark select {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid rgba(255,255,255,0.2);
}

body.dark select option {
  background-color: #1e1e1e; 
  color: #ffffff;           
}
body.light select {
  background-color: #ffffff;
  color: #111111;
  border: 1px solid #ccc;
}

body.light select option {
  background-color: #ffffff;
  color: #111111;
}
/* --------------------------------------------- welcome message ----------------------------------- */

#welcomeOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.welcome-box {
  background: #1e1e1e;
  color: #fff;
  padding: 30px;
  width: 380px;
  border-radius: 14px;
  text-align: center;
  position: relative;
  animation: scaleIn 0.4s ease;
}

body.light .welcome-box {
  background: #fff;
  color: #000;
}

.welcome-box button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #3fbac2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#welcomeOverlay span {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 22px;
  cursor: pointer;
}

